body {
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 10px;
  max-width: 1000px;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: capitalize;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 16px;
  text-transform: capitalize;
}

h4 {
  font-size: 80px;
  color: #42a5f5;
}
h5 {
  font-size: 25px;
}

#faren {
  text-decoration: none;
  color: #000000;
}
#celc {
  color: #000000;
  text-decoration: none;
}
#faren:hover {
  color: #42a5f5;
}
#celc:hover {
  color: #42a5f5;
}
.units {
  padding: 0;
  margin-top: 20px;
  max-width: 100px;
}
#current-temp {
  margin-right: 0;
  padding-right: 0;
  max-width: 200px;
}
.current {
  font-size: 70px;
  font-weight: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.date {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 23px;
  font-weight: 500px;
}

.icon {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.blah {
  color: #bec2cb;
}

.mid {
  color: #42a5f5;
}

.full {
  color: #f3a633;
}

.temp {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.low {
  text-align: center;
  font-size: 15px;
  color: #5a5a5c;
  margin: 0;
}

.other {
  padding: 30px;
  margin: 0 auto;
}
